html
{
    background-image: linear-gradient(top to bottom, purple, darkblue);
    background-repeat: no-repeat;
    background-size: 1000em;
    background-color: darkblue;
}

div.page-top
{
    background-color: black;
}

div.p1
{
    color: cyan;
    padding: 10px;
}

div.p1 h1
{
    border: 1px solid white;
    text-align: center;
    padding: 30px;
    margin: 40px 150px 40px 150px;
}

div.p2
{
    color: white;
    padding: 10px;
    text-align: center;
    padding-bottom: 20px;
}

div.p2 a
{
    padding: 20px;
    font-size: large;
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: all 0.2s ease;
}

div.p2 a:hover
{
    background-color: white;
    color: black;
}

div.motto
{
    text-align: center;
    padding: 20em 1em 20em 1em;
}

div.motto h1
{
    border: 1px solid black;
    margin-left: 3em;
    margin-right: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
}

div.stats
{
    background-color: black;
    text-align: center;
}

div#row-1
{
    padding-top: 5em;
    padding-bottom: 2em;
}

div#row-2
{
    padding-top: 2em;
    padding-bottom: 5em;
}

div.item
{
    display: inline-block;
    text-align: center;
    padding: 5px 40px 5px 40px;
    margin: 0px 100px 0px 100px;
    border: 1px solid white;
    background-color: white;
}

div#section-1
{
    padding-left: 3em;
    padding-top: 3em;
    color: white;
}

div.entry
{
    padding-left: 3em;
    padding-top: 3em;
    display: inline-block;
}

div.entry h1
{
    text-align: center;
    padding: 10px;
    text-decoration: underline;
    color: white;
}

div.entry h2
{
    text-align: center;
    display: inline;
    padding: 10px;
    color: white;
}

div.entry a
{
    text-decoration: none;
    color: white;
}

div.c-entry
{
    margin: 3em;
    display: inline-block;
    color: white;
}

div.c-entry h1
{
    display: inline;
    color: white;
}

div.c-entry ul
{
    display: inline-block;
    list-style-type: "> ";
    color: white;
}

div.c-entry li
{
    color: white;
}

div.c-entry a
{
    text-decoration: none;
    color: darkblue;
    font-size: large;
    color: white;
}

div.footer p
{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}
