body {
	background-color: darkgray;
}

div.page-top {
	background-color: black;
	padding: 5px;
}

div.page-top a {
	text-decoration: none;
	color: white;
	background-color: black;
	font-size: 25px;
}

div.blank-space {
	padding: 40px;
}

div.intro-user {
	position: relative;
	background-color: black;
	width: auto;
	height: auto;
	padding: 1em;
}

div.intro-user h1 {
	color: rgb(0, 255, 255);
}

div.intro-user h2 {
	color: white;
}

div.socials img {
		width: 350px;
}